@charset "utf-8";

/* body */
body {
    background: transparent;
    font-family: 'メイリオ';
}
footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    font-family: 'メイリオ';
    font-size: 15px;
    background-color: #f9f5f2;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

.navbar .badge {
  background-color: #dc143c;
  font-size: 20px;
}

/* cover */
.cover {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    background: url("/images/cover-karibon.jpg") center center no-repeat;
    background-size: cover;
}
.cover .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.cover .cover-inner .cover-contents h1{
    margin: 0 0 30px 0;
    font-size: 50px;
    color: #2e8b57;
    font-family: 'Yu Gothic UI';
    letter-spacing: 0.15em;
}

.toppage
    {
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 0.25em;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    border-radius: 7px;
    font-size: 20px;
    z-index: 2;
    }
 
.toppage a
    {
    display: block;
    text-decoration: none;
    }
 
.toppage:hover
{
    opacity: 0.85 ;
}

.content .paginate {
  clear: both;
   text-align: center;
}


.btn-hajimeru {
    color: #ffffff;
    background-color: #ed486f;
    border-color: #ed486f;
    height: 40px;
    width: 120px;
    font-size: 20px;
}
.btn-login {
    font-size: 20px;
}

.search {
    margin-bottom: 20px;
}

/* book */
.book .panel-body {
    background-color: #f9f5f2;
    height: 70px;
}

.book .panel-heading {
    background-color: transparent;
    height: 250px;
}
.book .panel-heading img {
    height: 100%;
    max-width: 100%;
}
.book .panel-body .comment {
    right:30px;
    bottom:30px;
    position: absolute;
    font-size: 20px;
}
.goodluck .panel-heading img {
    height: 250px;
}
.goodluck .table {
    font-size: 20px;
}

p.book-title {
    /* Keep the number of lines in a sentence on two lines, and add "..." to the end of line. */
    font-size: 20px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* item */
.book .panel-body {
    height: 120px;
}
.book .buttons form {
    display: inline-block;
    position: absolute;
    top: 330px;
    left: 80px;
    width: 100px;
    background-color: #2e8b57; 
    border-radius: 8px;/*角の丸み*/
}

.media-list .media-body {
    word-break: break-all;
    border:1px solid #CCCCCC;
    padding:10px;
}


/* users */
.user-profile .name {
    margin-bottom: 20px;
}
.user-profile .name h1 {
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}

.user-profile .tuika-button {
    font-size: 20px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background:  #ffffff;
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-color: #ffffff;
    horizontal-align: center;
}

.user-profile .status  {
    margin: 0 auto 10px;
    padding: 0;
    /*display: table;*/
}
.user-profile .status  {
    padding: 5px 0;
    border-right: 1px solid #ddd;
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
    color: #777;
}
.user-profile .status :last-child {
    border: none;
}
.user-profile .status .status-label {
    color: #dc143c;
    font-size: 20px;
    border-bottom: dashed 2px #2e8b57;
}
.user-profile .status  .status-value {
    font-size: 18px;
}
.karireu-list {
    font-size: 20px;
    text-align: center;
    color: #2e8b57;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: double 5px #FFC778;
    
}

.kariru-search {
    border-bottom: dashed 2px #2e8b57;
    margin-bottom: 10px;
    font-size: 25px; 
    font-weight: bold;
}

#form1{
position: relative;
text-align: center;
}
#sbox {
height: 50px;
padding: 0 10px;
position: absolute;
left: 0;
top: 0;
width:315px;
border-radius:2px 0 0 2px;
border-right:none;
border:solid 3px #eaeaea;
outline: 0;
}
#sbtn{
padding: 0;
width: 160px;
height: 50px;
position: absolute;
left: 315px;
top: 0;
border-radius:0 2px 2px 0;
background:#7fbfff;
color:#fff;
border:solid 3px #eaeaea;
border-left:none;
font-weight:bold;
font-size:16px;
outline: 0;
}
#sbtn:hover{
background:#eaeaea;
color:#7fbfff;
}

a.cp_btn {
position: absolute;
display: block;
top: 330px;
left: 100px;
width: 100px;
padding: 0.4em;
text-align: center;
font-weight: bold;
text-decoration: none;
color: #FFF;
text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
background: #2e8b57;
transition: .4s;
border-radius: 4px;
}
a.cp_btn:hover {
text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
transition: .4s;
}

.jibunmo {
    color: #fff;
    background-color: #7fbfff;
    text-align: center;
    border:solid 3px #eaeaea;
    height: 35px;
    width: 150px;
    border-radius: 8px;/*角の丸み*/
    
}
.yamenai{
    text-decoration: none;
    font-weight: bold;
    font-size: 37px;
    color: #799dec;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.yamenai:active {
    top: 4px;
    text-shadow: none;
}

html, body {
  margin:0;
  padding:0;
}

.comic {
  display:flex;
  flex-wrap:wrap;
  font-family:'Comic Sans', cursive;
  padding:1vmin;
}

.comic .panel h2{
  font-family: 'メイリオ';
position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 6rem;
}

.comic .panel {
  background-color:#fff;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  height:200px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
}

.comic .panel .text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
  font-size: 20px;
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
  font-size: 20px;
}
.top-right {
  top:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
  font-size: 20px;
}

.speech {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:absolute;
  left:-10px;
  top:-5px;
  font-size: 20px;
}

.speech-right {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:absolute;
  right:10px;
  font-size: 20px;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech-right:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}
.speech-right:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.comic .panel:nth-child(1) {
  flex-basis: 150px;
}
.comic .panel:nth-child(2) {
  flex-basis: 180px;
}
.comic .panel:nth-child(3) {
  flex-basis: 300px;
}
.comic .panel:nth-child(4) {
  flex-basis: 300px;
}
.comic .panel:nth-child(5) {
  flex-basis: 200px;
}
.comic .panel:nth-child(6) {
  flex-basis: 200px;
}
.comic .panel:nth-child(7) {
  flex-basis: 400px;
}
.comic .panel .hero1 img{
  position:absolute;
  top:3px;
  right:5px;
}
.comic .panel .hero2 img{
  position:absolute;
  bottom:0px;
  right:5px;
}
.comic .panel .hero3 img{
  position:absolute;
  bottom:0px;
  right:5px;
}
.comic .panel .hero4 img{
  position:absolute;
  bottom:0px;
  right:5px;
}
.comic .panel .hero5 img{
  position:absolute;
  top:0px;
  left:100px;
}
.comic .panel .hero6 img{
  position:absolute;
  top:3px;
  left:85px;
}
.comic .panel .hero-all img{
  position:absolute;
  bottom:-6px;
  left:40px;
}
.comic .panel .hero-all2 img{
  position:absolute;
  bottom:-6px;
  left:240px;
}



/* background colours */

.comic .panel:nth-child(1) {
  background-image:radial-gradient(circle, yellow, orange);
}

.comic .panel:nth-child(2) {
  background-image:radial-gradient(circle, lightblue, deepskyblue);
}

.comic .panel:nth-child(3) {
  background-image:radial-gradient(circle, palegreen, yellowgreen);
}
.comic .panel:nth-child(4) {
  background-image:radial-gradient(circle, lightcoral, tomato);
}
.comic .panel:nth-child(5) {
  background-image:radial-gradient(circle, lightcoral, tomato);
}
.comic .panel:nth-child(6) {
  background-image:radial-gradient(circle, palegreen, yellowgreen);
}
.comic .panel:nth-child(7) {
  background-image:radial-gradient(circle, yellow, orange);
}
.alert {
  clear: both;
}
.alert .panel{
  width: 250px;
}
.alert .panel-heading {
    background-color: transparent;
    height: 250px;
    width: 250px;
}
.alert .panel-heading img {
    height: 100%;
    max-width: 100%;
}
