@charset "utf-8";

/* body */
body {
    background: transparent;
    font-family: 'メイリオ';
}
footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    font-family: 'メイリオ';
    font-size: 15px;
    background-color: #f9f5f2;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

/* cover */
.cover {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    background: url("/images/cover-karibon.jpg") center center no-repeat;
    background-size: cover;
}
.cover .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.cover .cover-inner .cover-contents h1{
    margin: 0 0 30px 0;
    font-size: 50px;
    color: #2e8b57;
    font-family: 'Yu Gothic UI';
    letter-spacing: 0.15em;
}
.btn-hajimeru {
    color: #ffffff;
    background-color: #ed486f;
    border-color: #ed486f;
}

.search {
    margin-bottom: 20px;
}

/* book */
.book .panel-body {
    background-color: #f9f5f2;
    height: 70px;
}

.book .panel-heading {
    background-color: transparent;
    height: 250px;
}
.book .panel-heading img {
    height: 100%;
    max-width: 100%;
}
.goodluck .panel-heading img {
    height: 250px;
}
p.book-title {
    /* Keep the number of lines in a sentence on two lines, and add "..." to the end of line. */
    font-size: 20px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* item */
.book .panel-body {
    height: 120px;
}
.book .buttons form {
    display: inline-block;
    margin: 0 5px;
    background-color: #2e8b57; 
}





/* users */
.user-profile .name {
    margin-bottom: 20px;
}
.user-profile .name h1 {
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}

.user-profile .tuika-button {
    font-size: 20px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background:  #ffffff;
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
    font-color: #ffffff;
    horizontal-align: center;
}

.user-profile .status  {
    margin: 0 auto 10px;
    padding: 0;
    /*display: table;*/
}
.user-profile .status  {
    padding: 5px 0;
    border-right: 1px solid #ddd;
    /*display: table-cell;*/
    vertical-align: middle;
    text-align: center;
    color: #777;
}
.user-profile .status :last-child {
    border: none;
}
.user-profile .status .status-label {
    color: #dc143c;
    font-size: 20px;
    border-bottom: dashed 2px #2e8b57;
}
.user-profile .status  .status-value {
    font-size: 18px;
}
.karireu-list {
    font-size: 20px;
    text-align: center;
    color: #2e8b57;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: double 5px #FFC778;
    
}

.kariru-search {
    border-bottom: dashed 2px #2e8b57;
    margin-bottom: 10px;
    font-size: 25px; 
    font-weight: bold;
}

#form1{
position: relative;
text-align: center;
}
#sbox {
height: 50px;
padding: 0 10px;
position: absolute;
left: 0;
top: 0;
width:315px;
border-radius:2px 0 0 2px;
border-right:none;
border:solid 3px #eaeaea;
outline: 0;
}
#sbtn{
padding: 0;
width: 160px;
height: 50px;
position: absolute;
left: 315px;
top: 0;
border-radius:0 2px 2px 0;
background:#7fbfff;
color:#fff;
border:solid 3px #eaeaea;
border-left:none;
font-weight:bold;
font-size:16px;
outline: 0;
}
#sbtn:hover{
background:#eaeaea;
color:#7fbfff;
}

a.cp_btn {
position: absolute;
display: block;
top: 330px;
left: 100px;
width: 100px;
padding: 0.4em;
text-align: center;
font-weight: bold;
text-decoration: none;
color: #FFF;
text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
background: #2e8b57;
transition: .4s;
border-radius: 4px;
}
a.cp_btn:hover {
text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
transition: .4s;
}

.jibunmo {
    color: #fff;
    background-color: #7fbfff;
    text-align: center;
    border:solid 3px #eaeaea;
    height: 35px;
    width: 150px;
    border-radius: 8px;/*角の丸み*/
}
